button {
  transition: ease .2s;
}

button.instructionsButton,
button.chosenCard__button{
  background-color: transparent;
  border: .1875rem solid;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  margin: 1.875rem auto;
  padding: .4375rem 1.875rem;
  text-transform: uppercase;
}

button.trickRow__Button {
  background-color: transparent;
  border-radius: .25rem;
  border: .125rem solid;
  color: #FFFFFF;
  display: block;
  font-size: 1.5em;
  font-weight: 500;
  height: 3.125rem;
  margin: 0 auto;
  width: 90%;
}

button:hover {
  cursor: pointer;
}

@media all and (min-width: 768px) {
  button.instructionsButton,
  button.chosenCard__button{
    font-size: 2em;
    width: 16.25rem;
  }
  
  button.instructionsButton:hover,
  button.chosenCard__button:hover,
  button.trickRow__Button:hover {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
    color: #121212;
  }

  button.trickRow__Button {
    font-weight: 700;
    height: 4.6875rem;
    margin: auto 1rem auto auto;
    width: 11.25rem;
  }

}

@media all and (min-width: 1200px) {
  button.trickRow__Button {
    width: 9.25rem;
  }
}