.appTitle {
  margin: .75em 0;
  text-transform: uppercase;
}

h1.appTitle {
  font-size: 2.1875em;
}

h2.appTitle {
  font-size: 2em;
}

@media all and (min-width: 768px) {
  h1.appTitle {
    font-size: 4em;
  }

  h2.appTitle {
    font-size: 3em;
  }
}

@media all and (min-width: 1200px) {
  h1.appTitle {
    margin: 10px auto;
  }
}